/* Google Font css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

/*------------------------------
    Common styles and utilities
--------------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 48px;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-bottom: 150px;
}

@keyframes showDelay {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*------------------------------
    Header styles
--------------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #2D25A0;
    padding: 5% 10%;
    margin-bottom: 80px;
}
.header-text{
    width: 485px;
    color: white;
}
.header-title{
    font-size: 64px;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;

    /* animation */
    animation: showDelay 2s ease-in;
}
.arrow{
    display: inline-block;
    margin-left: 10px;
}
.header-banner{
    width: 600px;
}
.header-banner img{
    width: 556px;
    height: auto;
    padding-left: 60px;
    transition: transform 1s;
}
.header-banner img:hover{
    transform: scale(1.15);
}

/*------------------------------
    Section Players List styles
--------------------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    /* display: flex;
    flex-direction: column;
    align-items: left; */
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
}

/*------------------------------
    Section Hilights styles
--------------------------------- */
.hilights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hilights-text p{
    margin-bottom: 30px;
}
.hilights-banner img{
    width: 567px;
    margin-left: 66px;
}

/*------------------------------
    Gallery styles
--------------------------------- */
.section-gallery{
    margin: 0px 5px; 
    margin-bottom: 150px;
}
.section-gallery img{
    transition: transform 1s;
}
.gallery-title{
    text-align: center;
}
.big-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.big-images img{
    width: 100%;
    height: 380px;
}
.small-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    overflow: hidden;
}
.small-images img{
    width: 100%;
    height: 250px;
}

/*------------------------------
    Footer styles
--------------------------------- */
footer{
    height: 200px;
    width: 100%;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 484px;
}
.footer-icons a{
    text-decoration: none;
    margin: 0 5px;
    color: #969BAB;
}
.icon-style{
    padding: 10px;
    background-color: #969bab34;
    border-radius: 50%;
}


/*------------------------------
    Media Qurey for Tablet devices
--------------------------------- */



/*------------------------------
    Media Qurey for small devices
--------------------------------- */
@media only screen and (max-width: 688px) {
    /* header query */
    .container{
        width: 100%;
        margin-bottom: 60px;
    }
    .header{
        /* width: 100%; */
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 5%;
    } 
    .header-text{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .header-title{
        font-size: 50px;
    }
    .header-banner{
        width: 300px;
    }
    .header-banner img{
        width: 300px;
        padding: 0;
    }

    /* players list query */
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    

    /* Hilights query */
    .hilights{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;
        text-align: center;
    }
    .hilights-banner img{
        width: 100%;
        margin-left: 0;
    }

    /* Gallery query */
    .section-gallery{
        margin-bottom: 60px;
    }
    .big-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .big-images img{
        width: 100%;
        margin-bottom: 5px;
    }
    .small-images{
        grid-template-columns: repeat(2, 1fr);
    }
    .small-images img{
        width: 100%;
        margin-bottom: 5px;
    }

    /* footer query */
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content{
        margin: 0 5px;
    }
    .footer-logo img{
        width: 100%;
    }
    
}


